<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
          <img src="https://image.flaticon.com/icons/svg/3069/3069670.svg" widht = "200" height = "200px" alt="">
        </div>
        <div class="row">
          <button on-click="incrementar" type="button" name="button" class="btn btn-secondary">Cargar Datos</button>
          <input type="text" value="{{prop1::input}}">
          <input type="text" value="[[prop1]]">
        </div>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Selena</td>
                <td>Mora</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Leandro</td>
                <td>Gao</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }

      incrementar () {
      this.prop2 += 1;
      console.log(this.prop1);
      console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
